In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import webbrowser

In [2]:
website='https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame.columns

Index(['Rank ', 'Team ', 'GP ', 'Won ', 'Lost ', 'Tied ', 'Pct. ', 'Season ',
       'Division'],
      dtype='object')

In [7]:
nfl_frame.columns = [c.replace(' ','') for c in nfl_frame.columns]

In [8]:
nfl_frame.Rank

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Rank, dtype: int64

In [9]:
nfl_frame['Rank']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Rank, dtype: int64

In [10]:
DataFrame(nfl_frame,columns=['Team','GP','Stadium'])

                    Team      GP  Stadium
0     Green Bay Packers   1,384       NaN
1        Dallas Cowboys     930       NaN
2      Baltimore Ravens     400       NaN
3         Chicago Bears   1,418       NaN
4  New England Patriots     932       NaN
5        Miami Dolphins     848       NaN
6     Minnesota Vikings     918       NaN
7    Kansas City Chiefs     932       NaN
8   Pittsburgh Steelers   1,220       NaN
9   San Francisco 49ers   1,050       NaN

In [11]:
nfl_frame.head(3)

   Rank                Team      GP  Won  Lost  Tied   Pct.  Season   Division
0     1  Green Bay Packers   1,384   769   577    38  0.569    1921  NFC North
1     2     Dallas Cowboys     930   526   398     6  0.569    1960   NFC East
2     3   Baltimore Ravens     400   225   174     1  0.564    1996  AFC North

In [12]:
nfl_frame.tail(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
7,8,Kansas City Chiefs,932,495,425,12,0.537,1960,AFC West
8,9,Pittsburgh Steelers,"1,220",643,556,21,0.536,1933,AFC North
9,10,San Francisco 49ers,"1,050",551,485,14,0.531,1950,NFC West

In [15]:
nfl_frame.iloc[3]

Rank                     4
Team        Chicago Bears
GP                  1,418
Won                    777
Lost                   599
Tied                    42
Pct.                 0.563
Season                1920
Division         NFC North
Name: 3, dtype: object

In [17]:
nfl_frame['Stadium'] = "Levi's Stadium"
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North,Levi's Stadium
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East,Levi's Stadium
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North,Levi's Stadium
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North,Levi's Stadium
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East,Levi's Stadium
5,6,Miami Dolphins,848,467,377,4,0.553,1966,AFC East,Levi's Stadium
6,7,Minnesota Vikings,918,495,412,11,0.545,1961,NFC North,Levi's Stadium
7,8,Kansas City Chiefs,932,495,425,12,0.537,1960,AFC West,Levi's Stadium
8,9,Pittsburgh Steelers,"1,220",643,556,21,0.536,1933,AFC North,Levi's Stadium
9,10,San Francisco 49ers,"1,050",551,485,14,0.531,1950,NFC West,Levi's Stadium

In [20]:
nfl_frame['Stadium'] = np.arange(10) #Must matching the length of the df
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North,0
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East,1
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North,2
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North,3
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East,4
5,6,Miami Dolphins,848,467,377,4,0.553,1966,AFC East,5
6,7,Minnesota Vikings,918,495,412,11,0.545,1961,NFC North,6
7,8,Kansas City Chiefs,932,495,425,12,0.537,1960,AFC West,7
8,9,Pittsburgh Steelers,"1,220",643,556,21,0.536,1933,AFC North,8
9,10,San Francisco 49ers,"1,050",551,485,14,0.531,1950,NFC West,9

In [22]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North,AT&T Stadium
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East,NaN
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North,NaN
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North,NaN
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East,Levi's Stadium
5,6,Miami Dolphins,848,467,377,4,0.553,1966,AFC East,NaN
6,7,Minnesota Vikings,918,495,412,11,0.545,1961,NFC North,NaN
7,8,Kansas City Chiefs,932,495,425,12,0.537,1960,AFC West,NaN
8,9,Pittsburgh Steelers,"1,220",643,556,21,0.536,1933,AFC North,NaN
9,10,San Francisco 49ers,"1,050",551,485,14,0.531,1950,NFC West,NaN

In [23]:
del nfl_frame['Stadium']

In [24]:
data = {'City':['SF','LA','NYC'],'Population':[837,388,840]}
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF         837
1   LA         388
2  NYC         840